In [1]:
# Script to train machine learning model.
from sklearn.model_selection import train_test_split
import pandas as pd

# Add the necessary imports for the starter code.
from ml.data import process_data
from ml.model import train_model, save_model, inference, compute_model_metrics

In [2]:
import numpy as np

In [3]:
# Add code to load in the data.
data = pd.read_csv('../data/census.csv')
data.columns = [label.strip() for label in data.columns]

In [4]:
train, test = train_test_split(data, test_size=0.20)

In [5]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [6]:
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

# Proces the test data with the process_data function.
X_test, y_test, encoder, lb = process_data(
    test, categorical_features=cat_features, label="salary", training=True
)

In [7]:
train.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11174,44,Private,302424,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,55,United-States,<=50K
7966,46,Private,459189,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,50,United-States,>50K
10387,42,Private,77373,Some-college,10,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,38,United-States,<=50K
7993,36,Private,106964,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
2042,41,Private,113597,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,16,United-States,<=50K

In [8]:
train['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [160]:
j = 0
for i in test.index:
#     arr = np.array([1, 2])
    arr = {
        'a': np.array([1, 2])
    }
    test.loc[i, 'X_test'] = arr
    j += 1

/Users/light/opt/anaconda3/envs/ml/lib/python3.8/site-packages/pandas/core/indexing.py:1699: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

In [161]:
test.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,ifor,X_test
13533,44,Private,164678,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,45,United-States,<=50K,NaN,a
14152,37,Private,234901,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,>50K,NaN,a
26915,24,State-gov,43475,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K,NaN,a
30369,20,?,250037,Some-college,10,Never-married,?,Own-child,White,Female,0,0,18,?,<=50K,NaN,a
4461,20,Private,284737,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K,NaN,a

In [121]:
X_test[0]

array([3.7000e+01, 1.0832e+05, 1.3000e+01, 0.0000e+00, 0.0000e+00,
       4.5000e+01, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00])

In [38]:
str(X_test[0])

'[4.30000e+01 1.96945e+05 9.00000e+00 0.00000e+00 0.00000e+00 7.80000e+01\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00\n 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]'

In [34]:
test.append(X_test, ignore_index=True)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [11]:
train[train['sex']] = train.apply(lambda x: x.str.strip())

AttributeError: Can only use .str accessor with string values!

In [13]:
train['workclass'].unique()

array([' Private', ' Local-gov', ' ?', ' State-gov', ' Federal-gov',
       ' Self-emp-inc', ' Self-emp-not-inc', ' Never-worked',
       ' Without-pay'], dtype=object)